Repository lieser/dkim_verifier, pull requests merged in 2023-11, with the labels that each got.

#398 Backport 5.x to 2.x favicons and sign rules 2023-10-31
  data/favicon.json
  data/favicon/agu.org.png
  data/favicon/allegro.pl.ico
  data/favicon/bequiet.com.ico
  data/favicon/co2online.de.png
  data/favicon/conrad.de.webp
  data/favicon/drrocke.de.png
  data/favicon/enea.pl.png
  data/favicon/energa.pl.png
  data/favicon/europa.eu.png
  data/favicon/fotoparadies.de.ico
  data/favicon/ga.de.svg
  data/favicon/gd.nrw.de.gif
  data/favicon/genderleicht.de.png
  data/favicon/gla.ac.uk.ico
  data/favicon/gov.pl.ico
  data/favicon/intercity.pl.png
  data/favicon/kleinanzeigen.de.svg
  data/favicon/ko-fi.com.webp
  data/favicon/miele.de.gif
  data/favicon/muenzen.eu.png
  data/favicon/openstreetmap.org.png
  data/favicon/ovh.pl.ico
  data/favicon/pagure.io.ico
  data/favicon/payproglobal.com.png
  data/favicon/payu.com.png
  data/favicon/poczta-polska.pl.png
  data/favicon/sekurak.pl.png
  data/favicon/stadtfruechtchen.de.png
  data/favicon/stepstone.de.ico
  data/favicon/stepstone.de.webp
  data/favicon/usmint.gov.ico
  data/favicon/verivox.de.webp
  data/favicon/vgwort.de.png
  data/signersDefault.json
Labels: default sign rules/favicon

#399 Favicon for aruba.it and rules for Actalis (part of Aruba Corp)
  data/favicon.json
  data/favicon/aruba.it.png
  data/signersDefault.json
Labels: default sign rules/favicon

#400 Favicon for aruba.it and rules for Actalis (part of Aruba Corp)
  data/favicon.json
  data/favicon/aruba.it.png
  data/signersDefault.json
Labels: default sign rules/favicon

#404 Bugfix 2x ed25519 verification 2023-11-06
  modules/dkimVerifier.jsm
Labels: bug

#409 Backport 5x 2x header parsing 2023-11-14
  modules/ARHParser.jsm.js
Labels: enhancement

#410 Minor adjustments to the Japanese translation for 5.4.0
  _locales/ja_JP/messages.json
Labels: localization

#416 Favicons and sign rules from 5.x
  data/favicon.json
  data/favicon/ancestry.de.webp
  data/favicon/bike24.com.ico
  data/favicon/bzga.de.png
  data/favicon/caraudioforum.it.png
  data/favicon/cognitoforms.com.png
  data/favicon/computerfutures.de.png
  data/favicon/digineo.de.ico
  data/favicon/disqus.com.png
  data/favicon/dpv.de.svg
  data/favicon/fastmail.com.webp
  data/favicon/gutefrage.net.png
  data/favicon/holidaycheck.de.png
  data/favicon/laptopwithlinux.com.webp
  data/favicon/openai.com.svg
  data/favicon/premierinn.com.ico
  data/favicon/reklamation24.de.png
  data/favicon/reservix.de.ico
  data/favicon/slack.com.png
  data/favicon/smatrics.com.svg
  data/favicon/sovendus.com.ico
  data/favicon/spiegel.de.ico
  data/favicon/steuerzahler.de.webp
  data/favicon/stiftung-warentest.de.png
  data/favicon/thunderbird.net.ico
  data/favicon/urlaubsgruss.com.png
  data/favicon/vector.com.png
  data/favicon/wikimedia.de.png
  data/favicon/zetaglobal.com.svg
  data/signersDefault.json
Labels: default sign rules/favicon

#414 Backported simple support for BIMI indicators
  modules/AuthVerifier.jsm.js
  modules/bimi.jsm.js
Labels: enhancement
